{
    "extends": "standard",
    "plugins": [
        "html",
        "eslint-plugin-html"
    ],
    "rules": {
        "arrow-parens": 0,
        "generator-star-spacing": 0,
        "camelcase" : 0,
        "no-undef": 0,
        "space-before-function-paren": 0,
        "no-unused-vars": 0,
        "no-use-before-define": 0,
        "eqeqeq": 0,
        "no-callback-literal": 0,
        "space-infix-ops": 0
    }
}

