.DS_Store
dist/
build/*
!build/icons
#!build/data-curator*.*
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
yarn-error.log
.tmp/
.idea/
*.iml
*.csv
!help-tags.csv
.nyc_output/
webdriver.log/
coverage/
test/unit/coverage/
test/cucumber_report.json
