{
  "sourceMap": false,
  "instrument": false,
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
     "babel-register"
   ],
  "exclude" : [
    "node_modules"
  ],
  "check-coverage": true
}
