{
  "sourceMap": false,
  "instrument": false,
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
     "babel-register",
     "babel-polyfill"
   ],
  "exclude" : [
    "node_modules"
  ],
  "lines": 30,
  "include" : [
    "src/**/*.js",
    "test/features"
  ],
  "check-coverage": true,
  "cache": true
}
