
dangerColor = #ff3860

div#constraints
  display inline-block
  padding-right 0
  padding-top 5px
  div
    display block
    width 100%
    text-align: left
    label
    input
      display inline-block
      width auto
      border-left 0
      border-left 0
      &.constraint-text
        float right
      &.validate-danger
        border-color dangerColor

.help.validate-danger
  @extend div#constraints div
  color dangerColor
  transform translateX(-40%)
  width 160% !important
  margin-left 5px
  font-size 12px
  text-align right !important

.tooltip-text
  color white
  a
    text-decoration underline !important
