div#constraints
  display inline-block !important
  // padding-left 0
  padding-right 0
  padding-top 5px
  // width: 50%
  div
    display block
    width: 100%
    text-align: left
    input
      display inline-block
      width 10%
    label
      display inline-block
      width auto
    .constraint-text
      width auto !important
      float right
