dangerColor = #ff3860

#columnProperties
  label
    display block
    width 100%
  div#format-container
    display block
    select
    input
      display inline-block
      width 100%
    &.format-pattern
      select
        width 30%
      input
        width 70%
  div#constraints
    display block
    margin-top 15px
    padding-right 0
    padding-top 5px
    div
      display block
      width 100%
      text-align left
      label
      input
        display inline-block
        width auto
        border-left 0
        &.constraint-text
          float right
          width 70%
