#contributors
  margin-bottom 10px
  .contributor
    margin-right 0
    padding-right 0
    padding-left 0
    margin-bottom 5px
    display block
    width 100%
    .inputs-container
      display inline-block
      width 90%
      float left
      .input-group
        width 100%
        input
          width 100%
          padding-left 10px !important
        .input-group-addon
          width 30%
          text-align left
    button
      display inline-block
      height 100% !important
      min-height 100% !important
      margin 30px 0px 30px 5px
      padding 5px 8px 5px 8px
      float right
  .button-container
    width 100%
    overflow hidden
    display block
    button.add-contributor
      display block
      float right
