form#findAndReplace
  overflow-y hidden
  .propertyrow
    display inline-block
    float left
    width 70%
    label
      width 100%
    input
      width 100%
  .find.btn-group
    float right
    display inline-block
    height 100% !important
    min-height 100% !important
    margin 30px 0px 30px 5px
    padding 10px 0px 10px 8px
    .btn
      padding-left 15px
      padding-right 15px
  .replace.btn-group
    float right !important
    margin-top 10px
    width 100% !important
    .btn
      padding-left 15px
      padding-right 15px
      float right !important
