form#findAndReplace
  overflow-y hidden
  .propertyrow
  .inputrow
    display block
    height 100%
    min-height 100%
    width 100%
    label
      display block
      width 100%
      float left
    input
      float left
      display block
      width 75%
      margin-bottom 15px
  .btn-group
    float right
    display inline-block
    height 100% !important
    min-height 100% !important
    .btn
      padding-left 15px
      padding-right 15px
  .button-below
    margin-top 2px
