#foreignKeyFields
  display inline-block
  width 100% !important
  overflow auto
  .foreign
    margin-right 0
    padding-right 0
    padding-left 0
    margin-bottom 5px
    display block
    width 100%
    .inputs-container
      display inline-block
      width 90%
      float left
button
  height 100% !important
  min-height 100% !important
  margin 30px 0px 30px 5px
  padding 5px 8px 5px 8px
  float right
.button-container
  width 100%
  overflow hidden
  display block
  button.add-foreign
    display block
    float right
#fk-package
  width 100%
  .fk-package
    display flex
    flex-direction row
    justify-content space-evenly
    width 100%
  button
    margin 10px 0px 0px 5px
    .fas::before
      padding-right 3px
  .fk-package.right
    justify-content flex-end
.glyphicon.spinning
  animation spin 1s infinite linear
  -webkit-animation spin2 1s infinite linear
  margin 10px 0px 0px 0px
