#foreignKeyFields
  display inline-block
  width 100% !important
  // float right
  overflow auto
  .foreign
    margin-right 0
    padding-right 0
    padding-left 0
    margin-bottom 5px
    display block
    .inputs-container
      display inline-block
      width 100%
      float left
      select
        width 100%
        float right
        overflow-x auto
        margin-bottom 10px
button
  height 100% !important
  min-height 100% !important
  margin 30px 0px 30px 5px
  padding 5px 8px 5px 8px
.button-container
  width 100%
  overflow hidden
  display block
  button.add-foreign
    display block
    float right
