a object
  max-width 18px
  max-height 18px
  margin 0
  pointer-events none // allow parent 'a's link behaviour through
  
.errors-window
  .navbar-nav>li
    @media screen and (min-width: 480px)
      float left
    a:hover
    span:hover
      background-color transparent
      &object:hover
        cursor pointer
  .navbar-text
    @media screen and (min-width: 480px)
      float left
