/*stylus and vue loaders cannot see the ids/classes not in the vue page*/

#body-panel
  background-position center
  opacity 0.8

.panel, .container-fluid
  background transparent !important

/* add styling for vertical-align:top, banded table rows, th styling, table width, a, a.hover, h1, h2, h3 */
/* something to avoid using <b> in keyboardHelp.vue */
