h1
  color #337ab7 !important
h2
  @extend h1
  margin-top 60px

table
  border 0
  width 100%
  margin-top 40px
  &.final
    margin-bottom 60px

th
  text-align left
  padding 8px
td
  @extend th
  border 0 !important

tbody tr
  &:nth-of-type(odd)
    background-color #f2f2f2 !important

kbd
  background-color #999
