#container
  height 100%
  margin 0
  padding 0

.sidenav
  .closebtn
    position absolute
    top 0
    margin 0
    padding 0
    z-index 75
    a
      &:hover
        background-color inherit!important
  .closebtn
    right 0

#tablePropertiesBtn
  float left

#csvTab a
  position relative

span.tabclose
  position absolute
  top 0
  right 0

#toolbar li
  text-align: center
  i
  a
    padding-top: 0
