@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#sidenav label,#sidenav input,#sidenav select {
  border-top: 0;
  padding-left: 5px !important;
  padding-right: 5px !important;
  text-align: left !important;
}
#sidenav select, #sidenav input {
  width: 100%;
}

.col-sm-9 {
  width: 100%;
}

#sidenav label {
  width: 100%;
}
