#proxy-preferences.inputs-container
    display inline-block
    width 100%
    .input-group
      width 100%
      input
        width 70%
        padding-left 10px !important
      .input-group-addon
        text-align left
        width 30%
    .button-container
      margin-top: 5px
      width 100%
      overflow hidden
      display block
      button
        display block
        float right
