#provenanceProperties
  #provenance-description
  #provenance-errors
    background-color #fff
    width 100%
    border 1px solid #ccc
  #provenance-preview
  #provenance-errors-preview
    @extend #provenanceProperties #provenance-description
    min-height: 14px
.provenance-preview-icon
  margin-right 5px
