#provenanceProperties
  #description
    background-color #fff
    width 100%
    border 1px solid #ccc
  #preview
    @extend #provenanceProperties #description
    min-height: 14px
.provenance-preview-icon
  margin-right 5px
