@keyframes opac
  0%
    opacity 0
  50%
    opacity 0
  100%
    opacity 1
.tooltip-custom
  animation opac 1s ease-in
.tooltip-content
  color #fff !important
  div
    @extend .tooltip-content
    a
      color #fff !important
      text-decoration underline
      &:hover
        color #ccc !important