.submit-container
  position absolute
  bottom 0
  width 100%
  margin 10px 0 0 -15px
  text-align right
  border-radius 0
  border-bottom 0
  padding 7px
  .btn
    margin-right: 10px
.form-block
  margin-top: 20px
  display flex
  flex-direction row
  justify-content left
.url-dialog-label
#url-dialog
  margin 7px
  margin-top auto
  margin-bottom auto
#url-dialog
  width 80% !important
