dangerColor = #ff3860

input
  &.validate-danger
    border-color dangerColor
    &:focus
      outline-color dangerColor

.help.validate-danger
  display block
  width 100%
  text-align: left
  color dangerColor
  // transform translateX(-40%)
  // width 160% !important
  margin-left 5px
  font-size 12px
  text-align left !important
  &::before
    // content ""
    clear both
    // height 0
    // visibility hidden
